## Analysing table created from the script

In [1]:
import pandas as pd

In [7]:
df_analysis = pd.read_csv('../outputs/mgnify_analysis.csv')
#df_studies = pd.read_csv('../outputs/mgnify_studies.csv')

In [ ]:
df_analysis.head(10)

,analysis_id,sample_id,assembly_run_id,experiment_type,pipeline_version,study_id,instrument_platform
0,MGYA00166416,ERS2488844,ERR2586218,metagenomic,4.1,MGYS00002383,Illumina HiSeq 2500
1,MGYA00166417,ERS2488846,ERR2586220,metagenomic,4.1,MGYS00002383,Illumina HiSeq 2500
2,MGYA00166418,ERS2488842,ERR2586216,metagenomic,4.1,MGYS00002383,Illumina HiSeq 2500
3,MGYA00166419,ERS2488841,ERR2586215,metagenomic,4.1,MGYS00002383,Illumina HiSeq 2500
4,MGYA00166420,ERS2488845,ERR2586219,metagenomic,4.1,MGYS00002383,Illumina HiSeq 2500
5,MGYA00166421,ERS2488843,ERR2586217,metagenomic,4.1,MGYS00002383,Illumina HiSeq 2500
6,MGYA00215806,ERS2597453,ERR2683248,metagenomic,4.1,MGYS00003139,Illumina NovaSeq 6000
7,MGYA00215807,ERS2597414,ERR2683209,metagenomic,4.1,MGYS00003139,Illumina NovaSeq 6000
8,MGYA00215808,ERS2597463,ERR2683258,metagenomic,4.1,MGYS00003139,Illumina NovaSeq 6000
9,MGYA00215809,ERS2597471,ERR2683266,metagenomic,4.1,MGYS00003139,Illumina NovaSeq 6000

In [8]:
df_analysis.shape

(985, 7)

In [15]:
pd.Series(df_analysis['assembly_run_id'].unique()).count()

806

In [16]:
df_analysis.shape[0] - pd.Series(df_analysis['assembly_run_id'].unique()).count()

179

In [10]:
df_analysis['study_id'].unique()

array(['MGYS00002383', 'MGYS00003139', 'MGYS00001312', 'MGYS00003674',
       'MGYS00005046', 'MGYS00005055', 'MGYS00005056', 'MGYS00005058',
       'MGYS00001277', 'MGYS00001382', 'MGYS00001389', 'MGYS00001391',
       'MGYS00001392', 'MGYS00001418', 'MGYS00001453', 'MGYS00001542',
       'MGYS00001566', 'MGYS00001851', 'MGYS00001903', 'MGYS00000555',
       'MGYS00000597', 'MGYS00000606', 'MGYS00000648', 'MGYS00000777',
       'MGYS00001110', 'MGYS00001135', 'MGYS00000423', 'MGYS00000425'],
      dtype=object)

In [11]:
unique_study_ids = pd.Series(df_analysis['study_id'].unique())

In [12]:
unique_study_ids.count()

28

In [ ]:
unique_study_ids.to_csv('unique_study_ids.txt', index=False, header=False)